.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  
}

.item2 {
  background-color:yellow;
  
}

.item3 {
  background-color:blue;
  
}
.myheader{
    text-align: center;
}
.profilepic{
    border-radius: 50%;
}
